#cart {
  /*background: rgb(46, 46, 46);*/
  background: rgb(242, 238, 227);
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  z-index: 999;
  border-left: 2px solid rgba(233, 230, 219, 0.98);
  text-align: center;
  padding-top: 100px; /*navbar size*/
  display: none;
}
#cart h1 {
  font-size: 28px;
}
#cart table td, #cart table th {
  white-space: nowrap;
}

.not-in-cart .add-to-cart .fa{
  transition        : .4s linear;
  -webkit-transform : rotate(0deg);
}

.in-cart .add-to-cart .fa{
  transition        : .4s linear;
  -webkit-transform : rotate(45deg);
}
