.float-bottom {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}
.add-padding {
  height: 80px;
}
.amount {
  margin-bottom: 5px;
}
.amount label {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.amount input {
  width: 40px;
}
.product.in-cart .plan-header {
  background: #ec7500!important;
}
#pricing .product.in-cart ul.pricing li.plan-header .plan-name {
  color: #66584f !important;
}
.product.in-cart .btn{
  background-color: rgb(236, 117, 1);
}
