<link rel="stylesheet" href="/css/font-awesome.min.css" media="screen" title="no title">
<style media="screen">
  table tr th, table tr td {
    text-align: right;
    vertical-align: middle;
  }
</style>

<%
def timeAgo(time)
  a = (Time.now-time).to_i

  case a
    when 0 then 'maintenant'
    when 1 then 'une seconde'
    when 2..59 then a.to_s+' seconds'
    when 60..119 then 'une minute' #120 = 2 minutes
    when 120..3540 then (a/60).to_i.to_s+' minutes'
    when 3541..7100 then 'une heure' # 3600 = 1 hour
    when 7101..82800 then ((a+99)/3600).to_i.to_s+' heures'
    when 82801..172000 then 'un jour' # 86400 = 1 day
    when 172001..518400 then ((a+800)/(60*60*24)).to_i.to_s+' jours'
    when 518400..1036800 then 'une semaine'
    else ((a+180000)/(60*60*24*7)).to_i.to_s+' semaines'
  end
end
%>

<datalist id="ready-times">
  <!-- inserted by js -->
</datalist>

<section id="todo">
  <% if @todo_orders.length != 0 %>
    <% @todo_orders.each do |combined_order| %>
      <div class="combined_order">
        <% orders = Order.all(combined_order_id: combined_order.id) %>
        <ul class="ordered_items">
        <% orders.each do |order| %>
          <li>
            <% Product.get(order.product_id).name.capitalize %>
            <% if order.done %>
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    <h3 style="text-align: center;">Il n'y a pas de commandes à preparer</h3>
  <% end %>
</section>

<section id="ready">

</section>

<section id="delivered">

</section>

<script src="/js/jquery.formatter.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/moment-timezone-with-data.min.js"></script>

<script type="text/javascript">
$(document).on("keyup", "input", function (e) {
  var oderID = $(this).attr("order-id");
  var readyTime = $(this).val();
  $.post("/order-ready-time",{
      order_id: oderID,
      ready_time: readyTime
    }, function(data){

    }
  );
});

$( '.ready-time' ).formatter( {
	'pattern': '{{99}}:{{99}}'
		// 'persistent': true
} );

// Setup time select
function updateDataList() {
  var t = moment.tz( "Europe/Paris" );
  var hour = parseInt( t.format( "HH" ) );
  var minutes = parseInt( t.format( "mm" ) );

  $( "input.pickup-time" ).attr( "placeholder", hour + ":" + minutes );
  var options = "";
  var inMinutes;
  var displayMinute;

  function pushExtraMinutesToHours() {
    if (minutes >= 60) {
      hour += 1;
      minutes -= 60;
    }
  }

  for (var i = 0; i < 3; i++) {
    minutes += 1;
    pushExtraMinutesToHours();
    inMinutes = (hour*60 + minutes) - (parseInt( t.format( "HH" ) ) * 60 + parseInt( t.format( "mm" ) ));
    displayMinute = ( "0" + minutes ).slice( -2 );
    options += "<option value=" + hour + ":" + displayMinute + "> Dans "+inMinutes+" minutes </option>";
  }

  minutes += 2;
  pushExtraMinutesToHours();
  inMinutes = (hour*60 + minutes) - (parseInt( t.format( "HH" ) ) * 60 + parseInt( t.format( "mm" ) ));
  displayMinute = ( "0" + minutes ).slice( -2 );
  options += "<option value=" + hour + ":" + displayMinute + "> Dans "+inMinutes+" minutes </option>";

  for (var i = 0; i < 11; i++) {
    minutes += 5;
    pushExtraMinutesToHours();
    inMinutes = (hour*60 + minutes) - (parseInt( t.format( "HH" ) ) * 60 + parseInt( t.format( "mm" ) ));
    displayMinute = ( "0" + minutes ).slice( -2 );
    options += "<option value=" + hour + ":" + displayMinute + "> Dans "+inMinutes+" minutes </option>";
  }

  $( "datalist#ready-times" ).html( options );
}

updateDataList();

setInterval(function(){
  updateDataList();
}, 5000); // run every 5 seconds

</script>
