<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        &copy; 2016 Lounge'n Tasty.
      </div>
      <div class="col-sm-4">
        La Terrasse restaurant brasserie pizzeria
      </div>
      <div class="col-sm-4">
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/LaTerrassedeSaintGermain/?ref=ts&fref=ts" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://www.yelp.fr/biz/la-terrasse-de-saint-germain-saint-germain-au-mont-d-or" target="_blank">
              <i class="fa fa-yelp"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
