<section id="main-slider" style="border-top:7px solid #c4b58a">
	<div class="owl-carousel">
		<div class="item" style="background-image: url(images/slider/slide1.jpg);">
			<div class="slider-inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="carousel-content">
								<h2 style="text-align:right">La Terrasse <span>restaurant à</span><br/>ST Germain au mont d'or</h2>
								<p style="text-align:right;margin-bottom:0px">
									Votre restaurant, brasserie et
									<br/> Pizzeria proche de Lyon.
									<br/>Dégustez nos <b>produits frais</b>
									<br/> dans une <b>ambiance chaleureuse</b>.
								</p>
								<a class="btn btn-primary btn-lg scroll" style="float:right" href="#contact">Réserver une table</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item" style="background-image: url(images/slider/slide3.jpg);">
			<div class="slider-inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="carousel-content">
								<h2 style="text-align:right">La Terrasse <span>pizzeria à</span><br/>ST Germain au mont d'or</h2>
								<p style="text-align:right;margin-bottom:0px">
									Votre restaurant, brasserie et
									<br/> Pizzeria proche de Lyon.
									<br/>Dégustez nos <b>produits frais</b>
									<br/> dans une <b>ambiance chaleureuse</b>.
								</p>
								<a class="btn btn-primary btn-lg scroll" style="float:right" href="#pricing">Carte des pizzas</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.item-->
		<div class="item" style="background-image: url(images/slider/slide2.jpg);">
			<div class="slider-inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6">
							<div class="carousel-content">
								<h2 style="text-align:right"><span>Organisez</span> vos soirées<br/>dans un cadre convivial</h2>
								<p style="text-align:right"><b>Anniversaires, réunions, soirées privées</b>,...
									<br/> Nous vous proposons des <b>prestations de qualité</b> pour des moments inoubliables.</p>
								<a class="btn btn-primary btn-lg" style="float:right" href="#contact">Nous contacter</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.item-->
	</div>
	<!--/.owl-carousel-->
</section>
<!--/#main-slider-->
