.book-form {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
input:focus {
  color: rgba(0, 0, 0, 0.8);
}
button {
  outline: none;
  background: #4285F4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
.book-table-wrapper {
  padding: 20px 0 20px 0;
  height: 80px;
}
section.padded {
  padding: 50px 0 50px 0;
}
section.dark {
  background: #66584F;
}
