p, body {
  /*font-family: 'Josefin Slab', serif;*/
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 150%;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}
h1 {
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 15px;
}
#map {
  width: 100%;
  height: 355px;
}
@media (min-width: 992px){
  .mobile {
    display: none!important;
  }
  .not-mobile {
    display: block!important;
  }
}
@media (max-width: 991px){
  .mobile {
    display: block!important;
  }
  .not-mobile {
    display: none!important;
  }
}

.book-form {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
input, textarea {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
input:focus {
  color: rgba(255, 255, 255, 0.8);
}
button {
  outline: none;
  background: #C4B58A;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background: #89644D;
}
footer input {
  margin: 15px 0 15px 0;
}
footer textarea {
  resize: none;
}
.book-table-wrapper {
  padding: 20px 0 20px 0;
  height: 100%;
}
.book-form {
  height: 50px;
  display: block;
}
section.padded {
  padding: 50px 0 50px 0;
}
section.dark {
  background: #23292c;
}
section.light {
  background: #F2EEE3;
}
.parallax-window {
    background: transparent;
}
section {
  overflow: hidden;
}
section div > img {
  max-height: 600px;
  max-width: auto;
  overflow: hidden;
}
section.quick-look p {
  text-align: center;
  color: white;
}
section.quick-look img {
  max-width: 80px;
  border: 1px solid white;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section.food .col-sm-2 {
  padding: 0;
  margin: 0;
}
section.food img {
  width: 100%;
  height: auto;
}
@media screen and (min-width : 992px) {
  .vertical-align {
      display: flex;
      align-items: center;
  }
}
.owl-carousel .item {
  color: white;
  text-align: center;
  object-fit: contain;
  padding: 50px;
  width: 100%;
  height: 350px;
}
section.testimonial blockquote {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  max-width: 600px;
  padding: 50px;
  font-weight: bold;
  font-size: 24px;
  display: block;
}
section.testimonial blockquote::before {
  content: "“";
  color: #E0DDD7;
  font-family: georgia, serif;
  font-size: 6em;
  position: absolute;
  left: -0.25em;
  top: 0.35em;
  z-index: -10;
}
section.testimonial blockquote .author {
  font-size: 16px;
  font-weight: 300;
}

/* ****** */
/* FOOTER */
/* ****** */

.main-footer{
    background: #23292c;
    /*color: #73848e;*/
    color: white;
    padding-top: 65px;
    padding-bottom: 35px;
}
.main-footer .logo-container{
    margin-bottom: 49px;
}
.main-footer .socials-container ul li{
    margin: 0 10px 19px;
}
.main-footer .socials-container ul li a{
    color: #6c7c85;
}
.main-footer .socials-container ul li a:hover{
    color: white;
}
.main-footer .contact-form-contaienr{
    background: white;
    padding: 17px 30px 40px;
    margin-top: -230px;
    position: relative;
    z-index: 10;
}
.main-footer .contact-form-contaienr .section-title h1{
    color: #0b2b33;
    margin-bottom: 4px;
}
.main-footer .contact-form-contaienr .section-title p {
  color: #0b2b33;
}
.main-footer .copyright{
    text-align: center;
    margin-top: 40px;
}
.main-footer .copyright p{
    font-size: 12px;
}
.main-footer .address-container address img{
    float: left;
    overflow: hidden;
    margin-right: 17px;
}
.main-footer .address-container address p{
    font-size: 13px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.main-footer .address-container address p span{
    display: block;
}
.contact-info-container{
    padding: 130px 83px 115px;
    text-align: left;
}
.contact-info-container .section-title{
    text-align: left;
    margin-bottom: 85px;
}
.white-bg .contact-info-container{
    color: #23292c;
}
.contact-info-container .contact-info p{
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", "URW Palladio L", serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.contact-info-container .contact-info figure{
    position: relative;
    top: -3px;
    margin-right: 18px;
    min-width: 35px;
    float: left;
    text-align: center;
}
.contact-info-container .custom-button{
    margin-top: 35px;
}
.main-footer .bottom-bar{
    background: #23292c;
    padding-top: 59px;
    padding-bottom: 47px;
}
.frame-on .main-footer .bottom-bar{
    /*margin-bottom: 12px;*/
}
.main-footer .bottom-bar > .container > .row {
    display: table;
    width: 100%;
}
.main-footer .bottom-bar > .container > .row > [class^=col-]{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.main-footer .bottom-bar .copyright,
.main-footer .bottom-bar .logo-container{
    margin: 0;
}
.main-footer .bottom-bar .socials-container ul li{
    margin-bottom: 0;
}
.main-footer .bottom-bar .socials-container ul li a{
    color: #868a8b;
}
.main-footer .bottom-bar .socials-container ul li a:hover{
    color: white;
}
.main-footer .bottom-bar .copyright{
    text-align: left;
}
.main-footer .logo {
  width: 100%;
}
