/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                        4. MAIN NAV
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
.main-nav-container {
  z-index: 100;
}
.main-nav-container a{
    color: #8a9eae;
}
.main-nav-container a:hover{
    color: white;
}
.main-nav-container .logo-container {
    margin-top: -30px;
    display: block;
    height: 80px;
    position: relative;
}
.main-nav-container .logo-container img {
  height: 100%;
}
.main-nav-container.small .logo-container .white-logo {
  display: none;
}
.main-nav-container .logo-container .white-logo {
  display: block;
}
.main-nav-container.small .logo-container .dark-logo {
  display: block;
}
.main-nav-container .logo-container .dark-logo {
  display: none;
}
.main-nav-container .main-nav ul li{
    margin-bottom: 32px;
    position: relative;
}
.main-nav .sub-menu{
    display: none;
    margin-top: 35px;
}

/**********************************************************************************************
                                4.1. MAIN NAV - Various Styles
***********************************************************************************************/

.main-nav-container.horizontal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0;
    overflow: visible !important;
    -webkit-transform: translateX(0) translateY(0) translateZ(0);
    -ms-transform:     translateX(0) translateY(0) translateZ(0);
    transform:         translateX(0) translateY(0) translateZ(0);
    -webkit-transition: background-color 0.3s ease;
    -moz-transition:    background-color 0.3s ease;
    transition:         background-color 0.3s ease;
}
.main-nav-container.horizontal.default {
    position: fixed;
}
.main-nav-container.horizontal.default:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    transition:         all 0.3s ease;
    background: -moz-linear-gradient(top,  rgba(36,41,45,0.75) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,41,45,0.75)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(36,41,45,0.75) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(36,41,45,0.75) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(36,41,45,0.75) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(36,41,45,0.75) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf24292d', endColorstr='#00000000',GradientType=0 );
}
.main-nav-container.horizontal .top-bar{
    border-bottom: 1px solid #e0d9d1;
    padding: 16px 60px 0;
}
.main-nav-container.horizontal.default .top-bar{
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
.main-nav-container.horizontal .contact-info-container {
    padding: 0;
}
.main-nav-container.horizontal .contact-info {
    font-family: 'nevis-Bold', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #222;
    display: table;
    margin-right: 35px;
    margin-bottom: 10px;
    vertical-align: middle;
    float: left;
}
.main-nav-container.horizontal.default .contact-info,
.main-nav-container.horizontal.default .contact-info p {
    color: rgba(255, 255, 255, 0.8);
}
.main-nav-container.horizontal .contact-info img{
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
}
.main-nav-container.horizontal .contact-info p{
    font-family: 'nevis-Bold', sans-serif;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
}
.main-nav-container.horizontal .socials-container{
    text-align: right;
    padding-top: 1px;
    margin-bottom: 0;
}
.main-nav-container.horizontal.default .socials-container li a:hover{
    opacity: 0.7;
}
.main-nav-container.horizontal .bottom-bar{
    padding: 33px 60px;
}
.main-nav-container.horizontal .main-nav{
    border-bottom: none;
    text-align: right;
}
.main-nav-container.horizontal .main-nav li{
    font-family: 'bebas_neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 30px;
    display: inline-block;
}
.main-nav-container.horizontal.default .main-nav li{
    margin-left: 40px;
    font-family: 'nevis-Bold', sans-serif;
    font-size: 14px;
}
.main-nav-container.horizontal.default.alternative .main-nav li{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.main-nav-container.horizontal .main-nav li a{
    background: none;
    font-size: inherit;
    font-weight: bold;
    color: #222;
    padding: 0 5px 3px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}
.main-nav-container.horizontal.default .main-nav li a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 2px;
    padding-left: 2px;
}
.header-stuck .main-nav-container.horizontal.default .main-nav li a{
    color: #222a2c;
}
.main-nav-container.horizontal.default .main-nav li a:hover,
.main-nav-container.horizontal.default .main-nav li.active a{
    border-bottom-color: #ffffff;
}
.main-nav-container.horizontal .main-nav .dropdown .sub-menu{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 25px;
    min-width: 250px;
    padding: 35px 20px 0;
    z-index: 10;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform:    translateX(-50%);
    -ms-transform:     translateX(-50%);
    transform:         translateX(-50%);
}
.header-stuck .main-nav-container.horizontal .main-nav .dropdown .sub-menu{
    background-color: #ffffff;
}
.main-nav-container.horizontal .main-nav .dropdown .sub-menu .sub-menu {
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding-top: 25px;
    min-width: none;
    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    transform:         translateX(0);
}
.main-nav-container.horizontal .main-nav .dropdown .sub-menu li{
    display: block;
    margin-left: 0;
    margin-bottom: 30px;
}
.main-nav-container.horizontal .main-nav li.default-skin:hover a{
    border-bottom-color: #ff803f;
}
.main-nav-container.horizontal .main-nav li.organic-skin:hover a{
    border-bottom-color: #98b716;
}
.main-nav-container.horizontal + .wrapper .main-header .top-banner-container{
    /*height: 630px;*/
}
.main-nav-container.horizontal + .wrapper .main-header .top-banner-container .top-banner{
    /*top: 60%;*/
}
.main-nav-container.horizontal + .wrapper .main-header .shopping-cart{
    top: 180px;
    right: auto;
    left: 0;
}
.main-nav-container.horizontal + .wrapper .main-header .shopping-cart .cart-items{
    right: auto;
    left: 0;
}

/*.main-nav-container.small .top-bar {
  display: none;
}*/
.main-nav-container.horizontal.default.small:before {
  background: white;
}
.main-nav-container.horizontal.default.small .top-bar {
  padding: 0;
}
.main-nav-container.horizontal.default.small .bottom-bar {
  max-height: 80px;
}
.main-nav-container.horizontal.default.small .main-nav li a {
  color: black;
}

/**********************************************************************************************
                                    4.2. MAIN NAV - Media Queries
***********************************************************************************************/
@media (min-width: 1200px) and (max-width: 1360px){
    .main-nav-container.fixed {
      width: 300px;
      padding: 57px 48px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1600px){
    .main-nav-container.horizontal .contact-info{
        margin-right: 11px;
    }
    .main-nav-container.horizontal .main-nav li{
        margin-left: 15px;
    }
}
@media screen and (max-width: 1199px){
    body.fixed-menu .main-nav-container.fixed,
    body.fixed-menu > .main-nav-trigger{
        display: none;
    }
    body.fixed-menu .mobile-nav-container{
        display: block;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    body.fixed-menu.frame-on .wrapper {
        padding-top: 0;
        padding-left: 12px;
    }
    .main-nav-container.horizontal .contact-info{
        margin-right: 20px;
        width: 45%;
    }
    .main-nav-container.horizontal .main-nav li{
        margin-left: 15px;
    }
    .main-nav-container.horizontal .socials-container{
        padding-top: 18px;
    }
    .frame-on .mobile-nav-container{
        padding: 27px 27px 18px;
    }
    .frame-on .mobile-nav-container .main-nav-trigger {
        right: 27px;
        margin-top: 15px;
    }
}
@media (min-width: 992px){
    .mobile-nav-container{
        display: none;
    }

}
@media (max-width: 991px){
    .main-nav-trigger:not(.mobile-nav-trigger){
        display: none;
    }
    .main-nav-container{
        display: none !important;
    }
  }


/*MOBILE NAVBAR*/
.toggle-mnu {
  position: fixed;
  top: 25px;
  left: 25px;
  display: block;
  width: 50px;
  height: 40px;
  z-index: 10000;
  border-radius: 10px;
  padding: 10px;
  background: rgba(59, 59, 59, 0.76);
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-mnu span:after {
  top: 18px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
  transform: rotate(-45deg) translate(6px, -7px);
}
.mobile-nav-container .menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.9);
}
.mobile-nav-container .menu ul.nav {
  margin-top: 100px;
}
.mobile-nav-container .menu ul.nav li {
  font-size: 22px;
  margin: 30px;
  z-index: 101;
  color: white;
  text-transform: uppercase;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
.mobile-nav-container .menu ul.contact {
  position: absolute;
  bottom: 0;
  margin: 25px;
}
.mobile-nav-container .menu ul.contact li {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
